In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
df = pd.read_csv('../data/JR201604.csv',sep=',',encoding='cp932', index_col=0) #index_col=0 : unnamedを省ける

C:\Users\Kenta Sakamoto\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
df.head()

,CanDispatch,CarImage,CompanyID,Direction,DisplayName,DriverNumber,Latitude,Longitude,RadioNumber,SpeedFrom,SpeedTo,StatusTime,VehicleStatus
1,False,black,2,180,黒タク,2412052,35.689554,139.772559,6123,21,30,2016-04-22 00:00:00,賃走
2,False,yellow,3,135,普通車,132169,35.646008,139.737184,4119,10,19,2016-04-22 00:00:00,実車
3,False,yellow,2,135,普通車,14000844,35.815861,139.702231,1026,1,10,2016-04-22 00:00:01,回送
4,True,yellow,2,270,普通車,20004379,35.672161,139.752467,1798,0,0,2016-04-22 00:00:01,空車
5,False,black,3,225,黒タク,84601,35.619676,139.644192,225,40,49,2016-04-22 00:00:01,実車

In [11]:
df.tail()

,CanDispatch,CarImage,CompanyID,Direction,DisplayName,DriverNumber,Latitude,Longitude,RadioNumber,SpeedFrom,SpeedTo,StatusTime,VehicleStatus
7815628,False,black,9,225,黒タク,20368616,35.670197,139.760783,1879,1,10,2016-04-08 23:59:58,回送
7815629,True,yellow,9,360,普通車,20369042,35.664592,139.724531,877,0,0,2016-04-08 23:59:58,空車
7815630,True,yellow,3,135,普通車,150232,35.689253,139.706545,4388,10,19,2016-04-08 23:59:58,空車
7815631,False,black,6,270,黒タク,392456,35.673380,139.726361,156,51,60,2016-04-08 23:59:59,空車
7815632,True,black,9,225,黒タク,20112435,35.674033,139.768030,2009,0,0,2016-04-08 23:59:59,空車

In [12]:
print(df.dtypes)

CanDispatch         bool
CarImage          object
CompanyID          int64
Direction          int64
DisplayName       object
DriverNumber       int64
Latitude         float64
Longitude        float64
RadioNumber        int64
SpeedFrom          int64
SpeedTo            int64
StatusTime        object
VehicleStatus     object
dtype: object

In [5]:
df['StatusTime'] = pd.to_datetime(df['StatusTime'])
print(df.dtypes)

CanDispatch                bool
CarImage                 object
CompanyID                 int64
Direction                 int64
DisplayName              object
DriverNumber              int64
Latitude                float64
Longitude               float64
RadioNumber               int64
SpeedFrom                 int64
SpeedTo                   int64
StatusTime       datetime64[ns]
VehicleStatus            object
dtype: object

## 2016年4月11日から15日までの一週間を対象にそれぞれ一日ごとのデータに分割するデータセットを作成する

In [14]:
JR20160411 = df[(df['StatusTime'] >= dt.datetime(2016,4,11,8,0,0,0)) & (df['StatusTime'] <= dt.datetime(2016,4,11,19,0,0,0))]

In [15]:
JR20160411.head()

,CanDispatch,CarImage,CompanyID,Direction,DisplayName,DriverNumber,Latitude,Longitude,RadioNumber,SpeedFrom,SpeedTo,StatusTime,VehicleStatus
1364354,False,black,3,90,黒タク,131952,35.693558,139.701684,2084,10,19,2016-04-11 08:00:00,実車
1364355,False,black,7,360,黒タク,2909,35.687137,139.865495,1127,18,18,2016-04-11 08:00:01,回送
1364356,False,black,6,270,黒タク,626978,35.658623,139.730983,768,1,10,2016-04-11 08:00:03,支払
1364357,False,yellow,3,360,普通車,132331,35.748581,139.799118,2169,10,19,2016-04-11 08:00:03,休憩
1364358,True,black,6,225,黒タク,626937,35.684336,139.691358,794,0,0,2016-04-11 08:00:04,空車

In [16]:
JR20160411.tail()

,CanDispatch,CarImage,CompanyID,Direction,DisplayName,DriverNumber,Latitude,Longitude,RadioNumber,SpeedFrom,SpeedTo,StatusTime,VehicleStatus
5650034,False,green,6,180,普通車,136036,35.656313,139.750118,930,41,50,2016-04-11 18:59:59,賃走
5650035,False,black,8,24,黒タク,9505,35.644017,139.715400,2202,19,19,2016-04-11 18:59:59,実車
5650036,False,black,1,180,黒タク,211831,35.628432,139.750334,4812,21,30,2016-04-11 19:00:00,実車
5650037,False,green,6,135,普通車,627356,35.664552,139.693053,891,11,20,2016-04-11 19:00:00,空車
5650038,False,black,9,360,黒タク,10123093,35.688851,139.745356,1719,0,0,2016-04-11 19:00:00,実車

In [18]:
JR20160411.to_csv('../data/JR20160411.csv')

### 同様にして12日から15日まで作成する

In [19]:
JR20160412 = df[(df['StatusTime'] >= dt.datetime(2016,4,12,8,0,0,0)) & (df['StatusTime'] <= dt.datetime(2016,4,12,19,0,0,0))]
JR20160412.to_csv('../data/JR20160412.csv')

JR20160413 = df[(df['StatusTime'] >= dt.datetime(2016,4,13,8,0,0,0)) & (df['StatusTime'] <= dt.datetime(2016,4,13,19,0,0,0))]
JR20160413.to_csv('../data/JR20160413.csv')

JR20160414 = df[(df['StatusTime'] >= dt.datetime(2016,4,14,8,0,0,0)) & (df['StatusTime'] <= dt.datetime(2016,4,14,19,0,0,0))]
JR20160414.to_csv('../data/JR20160414.csv')

JR20160415 = df[(df['StatusTime'] >= dt.datetime(2016,4,15,8,0,0,0)) & (df['StatusTime'] <= dt.datetime(2016,4,15,19,0,0,0))]
JR20160415.to_csv('../data/JR20160415.csv')

https://qiita.com/mSpring/items/6ec1ab28dcb261db2c73